.cardProducto {
    width: 25rem;
    height: 35rem;
    margin: 1rem 3rem 2rem 3rem;
    padding: 0.5rem;
    border: 1px solid #666;
    border-radius: 10px;
    transition: .3s;
}

.cardImg {
    width: 95%;
    height: 15rem;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
    margin: 0.5rem;
}

.cardTitulo {
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    margin: 1rem;
    height: 2rem;
    object-fit: contain;

}

.cardPrecio {
    display: block;
    text-align: center;
    font-weight: bold;
    font-size: 22px;
    margin: 2rem;
}

.cardTexto {
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    margin: 2rem;
}

.cardButton {
    font-family: "Montserrat", sans-serif;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    display: block;
    width: 50%;
    margin: 10px auto;
    border: none;
    background-color: #3a3636;
    color: #fff;
    padding: 5px 15px;
    border-radius: 5px;
    cursor: pointer;
}